/*
 * Global variables start
 */
:root {

    --footer-color: #fff;
    --footer-font: 16px 'Open Sans', sans-serif;

}
/*
 * Global variables end
 */

body {

    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f8ff;
    color: #333;

}

h1, h2, h3, h4, h5, h6 {

    text-align: center;

}

h1 {

    font-size: 3em;

}

h2 {

    font-size: 2.5em;

}

h3 {

    font-size: 2em;

}

hr {

    border: 0;
    height: 1px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 75%);

}

#main-content {

    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0px 2px 5px #ccc;
    padding: 50px 0;

}

#name,
#portfolio h2 {

    color: #306BA0;

}

#projects {

    list-style: none;
    margin: 0;
    padding: 0;

}

#projects li {

    width: 50%;
    margin: 30px 0;

}

#projects li img {

    width: 100%;
    box-shadow: 0px 2px 5px #ccc;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}

#projects li img:first-child:hover,
#projects li img:first-child:focus {

    outline: none;
    text-decoration: underline;
    box-shadow: 0px 10px 15px #ccc;
    transform: scale(1.05);

}

#projects li a:first-child {

    display: block;
    text-decoration: none;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}

#projects li a:first-child:hover,
#projects li a:first-child:focus {

    outline: none;
    color: #333;
    text-decoration: underline;
    transform: scale(1.2);

}

#projects li a:first-child {

    color: #333;

}

/*
 * Footer styles start
 */
i {

    font-size: 28px;
    color: #fff;
}

.flex {

    display: flex;
    flex-wrap: wrap;

}

.flex-justify-content-space-around {

    justify-content: space-around;

}

.flex-justify-content-space-evenly {

    justify-content: space-evenly;

}

.flex-justify-content-center {

    justify-content: center;

}

.flex-align-items-center {

    align-items: center;

}

.flex-direction-column {

    flex-direction: column;

}

.footer-text {

    color: var(--footer-color);
    font: var(--footer-font);
    text-shadow: none;
    text-align: center;
    margin: 0;

}

#footer {

    width: 100%;
    background-color: #306ba0;
    color: var(--footer-color);
    font: var(--footer-font);
    outline-color: var(--footer-color);
    box-shadow: 0px -2px 5px #ccc;

}

#footer ul {

    list-style: none;

}

#footer a:hover,
#footer a:focus {

    text-decoration: underline;
    color: var(--footer-color);

}

#footer a:visited {

    color: var(--footer-color);

}

#footer-content {

    width: 100%;

}

#footer-contact,
#social-media,
#copyright {

    margin: 40px 0;

}

#footer-contact i {

    font-size: 20px;

}

#social-media > ul {

    margin: 0;
    padding: 0;

}

#social-media > ul > li {

    margin: 10px;

}

#social-media > ul > li > a {

    display: block;
    outline-color: var(--footer-color);
    line-height: 0;
    vertical-align: middle;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}

#social-media > ul > li > a:hover,
#social-media > ul > li > a:focus {

    outline: none;
    transform: scale(1.5);

}

#social-media i {

    margin: 0 8px;

}

#social-media-facebook {

    padding: 0 4.72px;

}

#footer-nav {

    padding-bottom: 0;
    margin-top: 50px;

}

#footer-nav > ul > li {

    width: 123.58px;
    margin-bottom: 20px;

}

#footer-nav > ul > li > a {

    display: block;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}

#footer-nav > ul > li > a:hover,
#footer-nav > ul > li > a:focus {

    outline: none;
    transform: scale(1.2);

}
/*
 * Footer styles end
 */